body{
    font-family: Arial;
}

h1{
    color: #9410ef;
}
h2{
    color: #9410ef;
}

#main{
    text-align: center;
}
#login{
    padding: 10px;
    padding-bottom: 20px;
    margin-top:5%;
    width:30%;
    display: inline-block;
    background-color: #f1d0f2;
    box-shadow: #b5b5b5 10px 10px 5px;
    border-radius: 6px;
}
#inner{
    margin:50px;
}
#error{
    font-size:14px;
    color:#cc0000;
    margin-top:10px
}
label{
    color: #9410ef;
    font-size: large;
}
input[type=text], select {
    width: 60%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

input[type=submit] {
    width: 30%;
    background-color: #9410ef;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: large;
}

input[type=submit]:hover {
    background-color: #db81ef ;
}
